.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;

    @media screen and (min-width: 320px) {
        width: 320px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-right: 32px;
        padding-left: 32px;
    }

    @media screen and (min-width: 1360px) {
        width: 1360px;
        padding-right: 28px;
        padding-left: 28px;
    }
}
 
.section {
    padding-top: 40px;
    padding-bottom: 40px;
    @media screen and (min-width: 320px) {
        padding-top:50px;
        padding-bottom:50px;
        }

    
        @media screen and (min-width: 1360px) {
            padding-top: 80px;
            padding-bottom: 80px;
        }

}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 111px;
    text-align: center;
    letter-spacing: 0.06em;
   
}

p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 127%;
}

.title{
margin-bottom: 60px;
}

