.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-right: 35px;
        padding-left: 35px;
    }

    @media screen and (min-width: 1440px) {
        width: 1440px;
        padding-right: 80px;
        padding-left: 80px;
    }
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;

}

h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 111px;
    text-align: center;
    letter-spacing: 0.06em;
   
}

p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 127%;
}

.title{
margin-bottom: 60px;
}

.button {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.06em;

    width: 273px;
    text-align: center;

    padding: 10px 0 10px 0;
    border-radius: 50px;
    color: $colorText;
    border: 1px solid $buttonHover;

    transition: color 250ms linear, border 250ms linear, background-color 250ms linear;

    &:hover,
    &:focus {
        color: #fff;
        border: none;
        background-color: $buttonHover;
    }
}