html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
   background-color: $backgroundBody;
   color: $colorText;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


a:active,
a:hover,
a {
    text-decoration: none;
    color: #666;
}



img {
    display: block;
    max-width: 100%;
    height: auto;
}
button{
    border: none;
}

textarea {
    resize: none;
}