// colors
$backgroundBody:#F5F5F5;
$colorText: #000000;
$cosmeticsAdvantageBackground: #E4E6C3;
$footerBackground: rgba(228, 230, 195, 0.5);
$buttonHover: #427351;

// typography 
$fontFamilyText: 'Ubuntu';
$fontFamilyTitle: 'Oswald';

