// colors
$backgroundBody:#fff;
$colorTextSecondary: #000000;
$colorTextPrimary: #fff;
$backgroundCallback: #F4F4F4;
$backgroundFooter:#333333;
$buttonHover: #2EBF4F;
$buttonColor:#28A745;
$buttonColorRead: #0284D0;

// typography 
$fontFamilyText: 'Ubuntu';
$fontFamilyTitle: 'Oswald';






