<section class="blog">
  <div class="blog__img-box">
    <img
      class="blog__img"
      src="./images/mobile/blog_mob.jpg"
      alt="Blog post one"
      width="320px"
    />
  </div>
  <div class="container blog__text-box">
    <h3 class="blog__date">April 16 2020</h3>
    <h2 class="blog__title">Blog Post One</h2>
    <p class="blog__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button class="blog__btn" type="button">Read More</button>
  </div>
</section>
