<section class="section">
  <div class="container">
    <h3 class="busCases__first-title">This is what we do</h3>
    <h2 class="busCases__title">Business Cases</h2>
    <p class="busCases__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <div class="busCases__box">
      <ul class="busCases__box-list">
        <li class="busCases__box-item">
          <div class="busCases__box-img">
            <img
              class="busCases__img"
              src="./images/mobile/cases_mob.jpg"
              alt=""
            />
          </div>
        </li>
        <li class="busCases__box-item">
          <div class="busCases__box-img">
            <img
              class="busCases__img"
              src="./images/mobile/cases_mob (2).jpg"
              alt=""
            />
          </div>
        </li>
        <li class="busCases__box-item">
          <div class="busCases__box-img">
            <img
              class="busCases__img"
              src="./images/mobile/cases_mob (3).jpg"
              alt=""
            />
          </div>
        </li>
        <li class="busCases__box-item">
          <div class="busCases__box-img">
            <img
              class="busCases__img"
              src="./images/mobile/cases_mob (4).jpg"
              alt=""
            />
          </div>
        </li>
        <li class="busCases__box-item">
          <div class="busCases__box-img">
            <img
              class="busCases__img"
              src="./images/mobile/cases_mob (5).jpg"
              alt=""
            />
          </div>
        </li>
        <li class="busCases__box-item">
          <div class="busCases__box-img">
            <img
              class="busCases__img"
              src="./images/mobile/cases_mob (6).jpg"
              alt=""
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
