<section class="section">
  <div class="container">
    <h3 class="busCases__first-title">This is what we do</h3>
    <h2 class="busCases__title">Business Cases</h2>
    <p class="busCases__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <div class="swiper busCases__box">
      <ul class="swiper-wrapper busCases__box-list">
        <li class="swiper-slide busCases__box-item">
          <div class="busCases__box-img">
            <picture class="team__img">
              <source
                srcset="
                  ./images/cases/cases1.webp    1x,
                  ./images/cases/cases1@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/cases/cases1.jpg    1x,
                  ./images/cases/cases1@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img src="./images/cases/cases1.jpg" alt="teamwork" />
            </picture>
          </div>
        </li>
        <li class="swiper-slide busCases__box-item">
          <div class="busCases__box-img">
            <picture class="team__img">
              <source
                srcset="
                  ./images/cases/cases2.webp    1x,
                  ./images/cases/cases2@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/cases/cases2.jpg    1x,
                  ./images/cases/cases2@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img src="./images/cases/cases2.jpg" alt="workflow" />
            </picture>
          </div>
        </li>
        <li class="swiper-slide busCases__box-item">
          <div class="busCases__box-img">
            <picture class="team__img">
              <source
                srcset="
                  ./images/cases/cases3.webp    1x,
                  ./images/cases/cases3@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/cases/cases3.jpg    1x,
                  ./images/cases/cases3@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img src="./images/cases/cases3.jpg" alt="cooperation" />
            </picture>
          </div>
        </li>
        <li class="busCases__box-item swiper-slide">
          <div class="busCases__box-img">
            <picture class="team__img">
              <source
                srcset="
                  ./images/cases/cases4.webp    1x,
                  ./images/cases/cases4@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/cases/cases4.jpg    1x,
                  ./images/cases/cases4@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img src="./images/cases/cases4.jpg" alt="determination" />
            </picture>
          </div>
        </li>
        <li class="busCases__box-item swiper-slide">
          <div class="busCases__box-img">
            <picture class="team__img">
              <source
                srcset="
                  ./images/cases/cases5.webp    1x,
                  ./images/cases/cases5@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/cases/cases5.jpg    1x,
                  ./images/cases/cases5@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img src="./images/cases/cases5.jpg" alt="responsibility" />
            </picture>
          </div>
        </li>
        <li class="busCases__box-item swiper-slide">
          <div class="busCases__box-img">
            <picture class="team__img">
              <source
                srcset="
                  ./images/cases/cases6.webp    1x,
                  ./images/cases/cases6@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/cases/cases6.jpg    1x,
                  ./images/cases/cases6@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/cases/cases6.jpg"
                alt="we work all over the world"
              />
            </picture>
          </div>
        </li>
      </ul>
      <!-- кнопки вперед назад -->
      <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->

      <!-- пагинация -->
      <!-- <div class="swiper-pagination"></div> -->
      <!-- scrollbar -->

      <!-- скролбар -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
