<section class="section">
  <div class="container">
    <h2 class="catalog__header">Каталог</h2>
    <div class="catalog__carousel">
      <button type="button" class="btn next" id="btnNext"></button>

      <div class="catalog__gallery">
        <ul class="catalog__list" id="catalogList">
          <!-- <li class="catalog__item">
            <img
              class="catalog__img"
              src="./images/product/flat-lay-of-bath-concept-with-leaves.png"
              alt="product"
            />
            <button class="button" type="button">Акції</button>
          </li> -->
          <!--<li class="catalog__item">
            <img
              class="catalog__img"
              src="./images/product/top-view-of-a-cream-and-leaf-with-white-background.png"
              alt="product"
            />
            <button type="button">Для обличчя</button>
          </li>
          <li class="catalog__item">
            <img
              class="catalog__img"
              src="./images/product/—Pngtree—green leaf and white cosmetic_1451127 1.png"
              alt="product"
            />
            <button type="button">Для тіла</button>
          </li>
          <li class="catalog__item">
            <img
              class="catalog__img"
              src="./images/product/—Pngtree—green leaf and white cosmetic_1451127 1.png"
              alt="product"
            />
            <button type="button">Для волосся</button>
          </li> -->
        </ul>
      </div>

      <button type="button" class="btn prev" id="btnPrev"></button>
    </div>
  </div>
</section>
