<section class="section">
  <div class="container">
    <h2 class="catalog__header">Каталог</h2>
    <div class="catalog__carousel">
      <button type="button" class="btn next">-</button>

      <div class="catalog__gallery">
        <ul class="catalog__list">
          <li class="catalog__item">
            <img
              class="catalog__img"
              src="./images/product/flat-lay-of-bath-concept-with-leaves.png"
              alt="product"
            />
          </li>
          <li class="catalog__item">
            <img
              class="catalog__img"
              src="./images/product/top-view-of-a-cream-and-leaf-with-white-background.png"
              alt="product"
            />
          </li>
          <li class="catalog__item">
            <img
              class="catalog__img"
              src="./images/product/—Pngtree—green leaf and white cosmetic_1451127 1.png"
              alt="product"
            />
          </li>
          <li class="catalog__item">
            <img
              class="catalog__img"
              src="./images/product/—Pngtree—green leaf and white cosmetic_1451127 1.png"
              alt="product"
            />
          </li>
        </ul>
      </div>

      <button type="button" class="btn prev">-</button>
    </div>
  </div>
</section>
