<footer class="footer">
  <div class="container">
    <ul class="footer__social-list">
      <li class="footer__social-item">
        <svg class="footer__social-el" width="35px" height="35px">
          <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </li>
      <li class="footer__social-item">
        <svg width="35px" height="35px">
          <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </li>
      <li class="footer__social-item">
        <svg width="35px" height="35px">
          <use href="./images/svg/symbol-defs.svg#icon-youtube"></use>
        </svg>
      </li>
      <li class="footer__social-item">
        <svg width="35px" height="35px">
          <use href="./images/svg/symbol-defs.svg#icon-in"></use>
        </svg>
      </li>
    </ul>
    <h3 class="footer__copyright">Copyright © 2021 - FinanceLedger</h3>
  </div>
</footer>
