<section class="section">
  <div class="container">
    <div><img src="./images/logo 3.png" alt="logo" /></div>
    <div class="footer__nav">
      <ul>
        <li>Головна</li>
        <li>Косметика</li>
        <li>Відгуки</li>
      </ul>
      <ul>
        <li>Контакти</li>
        <li>Доставка</li>
        <li>Про нас</li>
      </ul>
      <ul>
        <li>Сертифікати</li>
        <li>Повернення товарів і платежів</li>
      </ul>
    </div>
    <div class="footer__social">
      <ul class="footer__socialList">
        <li class="footer__socialItem">
          <svg width="42px" height="42px">
            <use href="./images/svg-sprite/symbol-defs.svg#icon-whatsapp"></use>
          </svg>
        </li>
        <li class="footer__socialItem">
          <svg width="42px" height="42px">
            <use href="./images/svg-sprite/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </li>
        <li class="footer__socialItem">
          <svg width="42px" height="42px">
            <use href="./images/svg-sprite/symbol-defs.svg#icon-play"></use>
          </svg>
        </li>
        <li class="footer__socialItem">
          <svg width="42px" height="42px">
            <use
              href="./images/svg-sprite/symbol-defs.svg#icon-facebook2"
            ></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
