<section class="hero-header">
  <div class="container">
    <header class="header">
      <div class="header__logo">
        <img
          src="./images/logo 3.png"
          alt="Natural Cosmetics logo"
          width="94px"
          height="101px"
        />
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="">Головна</a></li>
          <li class="nav__item"><a class="nav__link" href="">Про нас</a></li>
          <li class="nav__item"><a class="nav__link" href="">Косметика</a></li>
          <li class="nav__item"><a class="nav__link" href="">Відгуки</a></li>
          <li class="nav__item"><a class="nav__link" href="">Контакти</a></li>
          <li class="nav__item"><a class="nav__link" href="">Доставка</a></li>
        </ul>
      </nav>
      <div class="header__box">
        <ul class="header__box-list">
          <li class="header__box-item">
            <svg width="42px" height="42px">
              <use href="./images/svg-sprite/symbol-defs.svg#icon-search"></use>
            </svg>
          </li>
          <li class="header__box-item">
            <svg width="42px" height="42px">
              <use
                href="./images/svg-sprite/symbol-defs.svg#icon-briefcase"
              ></use>
            </svg>
          </li>
          <li class="header__box-item">
            <svg width="42px" height="42px">
              <use href="./images/svg-sprite/symbol-defs.svg#icon-user"></use>
            </svg>
          </li>
        </ul>
      </div>
    </header>
    <section class="hero">
      <h1 class="hero__title">Натуральна косметика</h1>
      <p class="hero__text">
        Натуральна працююча косметика від <br />провідних виробників, яка дає
        видимий <br />результат вже після першої процедури!
      </p>
      <div class="hero__button">
        <button class="button" type="button">Дивитися каталог</button>
        <button class="button" type="button">Замовити пробники</button>
      </div>
    </section>
  </div>
</section>
