<section class="section">
  <div class="container">
    <h3 class="team__first-title">This is what we do</h3>
    <h2 class="team__title">Business Cases</h2>
    <p class="team__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <div class="team__box">
      <ul class="team__box-list">
        <li class="team__box-item">
          <div class="team__box-img">
            <img
              class="team__img"
              src="./images/mobile/team_mob.jpg"
              alt="John Doe President"
            />
            <div class="team__social">
              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-youtube"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-in"></use>
              </svg>
            </div>
          </div>
          <h4 class="team__name">John Doe</h4>
          <p class="team__position">President</p>
        </li>

        <li class="team__box-item">
          <div class="team__box-img">
            <img
              class="team__img"
              src="./images/mobile/team_mob (2).jpg"
              alt="Jane Doe Vice President"
            />
            <div class="team__social">
              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-youtube"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-in"></use>
              </svg>
            </div>
          </div>
          <h4 class="team__name">Jane Doe</h4>
          <p class="team__position">Vice President</p>
        </li>

        <li class="team__box-item">
          <div class="team__box-img">
            <img
              class="team__img"
              src="./images/mobile/team_mob (3).jpg"
              alt="Steve Smith Marketing Head"
            />
            <div class="team__social">
              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-youtube"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-in"></use>
              </svg>
            </div>
          </div>
          <h4 class="team__name">Steve Smith</h4>
          <p class="team__position">Marketing Head</p>
        </li>
      </ul>
    </div>
    <!-- </div>
    </div> -->
  </div>
</section>
