<section class="section">
  <div class="container">
    <h3 class="team__first-title">Who we are</h3>
    <h2 class="team__title">Our Professional Team</h2>
    <p class="team__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <div class="team__box">
      <ul class="team__box-list">
        <li class="team__box-item">
          <div class="team__box-img">
            <picture class="team__img">
              <source
                srcset="
                  ./images/team/person1.webp    1x,
                  ./images/team/person1@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/team/person1.jpg    1x,
                  ./images/team/person1@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/team/person1.jpg"
                alt="Jane Doe Vice President"
              />
            </picture>

            <div class="team__social">
              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-youtube"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-in"></use>
              </svg>
            </div>
          </div>
          <h4 class="team__name">John Doe</h4>
          <p class="team__position">President</p>
        </li>

        <li class="team__box-item">
          <div class="team__box-img">
            <picture class="team__img">
              <source
                srcset="
                  ./images/team/person2.webp    1x,
                  ./images/team/person2@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/team/person2.jpg    1x,
                  ./images/team/person2@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/team/person1.jpg"
                alt="Jane Doe Vice President"
              />
            </picture>

            <div class="team__social">
              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-youtube"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-in"></use>
              </svg>
            </div>
          </div>
          <h4 class="team__name">Jane Doe</h4>
          <p class="team__position">Vice President</p>
        </li>

        <li class="team__box-item">
          <div class="team__box-img">
            <picture class="team__img">
              <source
                srcset="
                  ./images/team/person3.webp    1x,
                  ./images/team/person3@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/team/person3.jpg    1x,
                  ./images/team/person3@2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="./images/team/person2.jpg"
                alt="Jane Doe Vice President"
              />
            </picture>

            <div class="team__social">
              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-twitter"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-youtube"></use>
              </svg>

              <svg width="35px" height="35px">
                <use href="./images/svg/symbol-defs.svg#icon-in"></use>
              </svg>
            </div>
          </div>
          <h4 class="team__name">Steve Smith</h4>
          <p class="team__position">Marketing Head</p>
        </li>
      </ul>
    </div>
  </div>
</section>
