<section class="solutions">
  <div class="solutions__img-box">
    <img
      class="solutions__img"
      src="./images/mobile/solotions_mob.jpg"
      alt="We provide bespoke solutions"
      width="320px"
    />
  </div>
  <div class="container solutions__text-box">
    <!-- <div class="solutions__text-box"> -->
    <h3 class="solutions__first-title">What you are looking for</h3>
    <h2 class="solutions__title">We provide bespoke solutions</h2>
    <p class="solutions__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button class="solutions__btn" type="button">Read More</button>
    <!-- </div> -->
  </div>
</section>
