.blog{
    background-color: $buttonColorRead;

    @media screen and (max-width: 767px) {
        padding-bottom: 50px;

    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
    
    }
}

.blog__img-box{
    @media screen and (min-width: 768px) {
            min-width: 358px;
            height: 568px;
        }
    
        @media screen and (min-width: 1360px) {
            height: 460px;
            min-width: 670px;
        }
}

.blog__img-box > img {
    display: block;
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.blog__text-box{
    
}

.blog__date{
    margin-top: 48px;
    margin-bottom: 16px;
    text-align: left;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: $colorTextPrimary;

    @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 25px;
        }
    
    @media screen and (min-width: 1360px) {
        line-height: 33px;
    }
}

.blog__title{
    margin-bottom: 24px;
    text-align: left;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;

    color: $colorTextPrimary;

    @media screen and (min-width: 768px) {
            font-size: 40px;
            line-height: 48px;
        }
}

.blog__text{
    margin-bottom: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: $colorTextPrimary;

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 25px;
    }
}

.blog__btn{
    padding: 16px 32px;
    
    background-color: opacify($color: #00000000, $amount: 0);
    color: $colorTextPrimary;
    border: 1px $colorTextPrimary solid;
    border-radius: 5px;
    transition:  200ms linear;

    &:hover,
    &:focus {
        background-color: $colorTextPrimary;
        color: $buttonColorRead;
        border: 1px $buttonColorRead solid;

        cursor: pointer;
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 25px;
    }
}