// .about-us{
//     min-height: 850px;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-image: url(/src/images/backgroundImage/skin-care-cosmetology-products\ 4.png);
// }

// .about-us__text{
//     width: 636px;
   
    
// }

