.busCases__first-title{
    margin-bottom: 16px;

    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    text-align: center;

    color: $colorTextSecondary;

    @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 25px;
        }
}

.busCases__title{
    margin-bottom: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;

    text-align: center;

    color: $colorTextSecondary;

    @media screen and (min-width: 768px) {
            font-size: 40px;
            line-height: 54px;
        }
}

.busCases__text{
    margin-bottom: 31px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: $colorTextSecondary;

    @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 25px;
        }
}

.busCases__box-list{
    max-width: 500px;
    min-width: 0;
    margin: 0 auto;
   
// display: grid;

    // @media screen and (max-width: 767px) {
    //     row-gap: 30px;
    // }

    // @media screen and (min-width: 768px) {
    //     grid-gap: 18px;
    //     grid-template-columns: 223px 223px 223px;
    // }

    // @media screen and (min-width: 1360px) {
    //     grid-gap: 22px;
    //     grid-template-columns: 420px 420px 420px;
    // }

}

.busCases__box-item{
    justify-content: center;
}


