.catalog__header{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 111px;
    text-align: center;
    letter-spacing: 0.06em;
}

.catalog__carousel{
    
    position: relative;
   
}
.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}
.prev{
    left:0px;
}
.next{
    right: 0px;
}

.catalog__gallery{  
    margin-left: auto;
    margin-right: auto;
    width: 1230px;
    overflow: hidden;
}

.catalog__list{
    height: 410px;
    width: 9999px;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
}

.catalog__item{
    display: inline-block;
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.catalog__img{
    width: 300px;
    height: 409px;
    display: block;
}