.hero-header{
    min-height: 810px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $backgroundBody;
    background-image: url(../images/backgroundImage/skin-care-cosmetology-products\ 2.png);
}

.header{
    padding-top: 41px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.nav__list{
    display: flex;
}

.nav__item{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.06em; 
}

.nav__link{
    color: $colorText;
    transition:color 150ms linear, border 150ms linear;
    &:hover,
    &:focus {
        color: $buttonHover;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: $buttonHover;
    }
}

.nav__item:not(:last-child){
    margin-right: 35px;     
}

.header__box-list{
    display: flex;
}

.header__box-item {
    transition: fill 150ms linear;
    &:hover,
    &:focus {
        fill: $buttonHover;
    }
    cursor: pointer;

}

.header__box-item:not(:last-child){
    margin-right: 35px;
}

.hero__title{
    margin-bottom: 60px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 107px;
    letter-spacing: 0.03em;
}

.hero__text{
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 127%;
}
.button:not(:last-child) {
    margin-right: 52px;
}

