// .advantages__list{
//     display: flex;
//     justify-content: center;
    
// }
// .advantages__item{
//     &:not(:last-child) {
//             margin-right: 20px;
//         }
// }

// .advantages__itemBox{
//     width: 300px;
//     height: 480px;

//     display: flex;
//     flex-direction: column;
//     align-items: center;
    

//     background-color: $cosmeticsAdvantageBackground;
//     border-radius: 50px;
// }

// .advantages__img{
//     margin-top: 50px;
//     margin-bottom: 30px;
// }

// .advantages__cardTitle{
//     margin-bottom: 30px;

//     font-family: 'Oswald';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 42px;
//     line-height: 62px;
//     text-align: center;

//     color: $buttonHover;
// }

// .advantages__cardText{
//     padding: 0 10px 0 10px;
//     text-align: center;
// }