.solutions{

    background-color: $buttonColor; 
}
.solutions__img-box{ 
    display: flex;
    justify-content: center;
}

.solutions__img{
    display: inline-block;
    
}

.solutions__text-box{
    background-color: $buttonColor;
}

.solutions__text{
    margin-top: -3px;
    padding-top: 79px;
    margin-bottom: 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: $colorTextPrimary;
}

.solutions__title{
    margin-bottom: 24px;
    text-align: left;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;

    color: $colorTextPrimary;
}