.solutions{
    padding-bottom: 79px;

    background-color: $buttonColor; 
}
.solutions__img-box{ 
    display: flex;
    justify-content: center;
}

.solutions__img{
    display: inline-block;
    
}

.solutions__text-box{
    background-color: $buttonColor;
}

.solutions__first-title{
    margin-top: 79px;
    margin-bottom: 16px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: $colorTextPrimary;
}

.solutions__text{
    margin-bottom: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: $colorTextPrimary;
}

.solutions__title{
    margin-bottom: 24px;
    text-align: left;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;

    color: $colorTextPrimary;
}

.solutions__btn{
    padding: 16px 32px;

    background-color: $buttonColor;
    color: $colorTextPrimary;
    border: 1px $colorTextPrimary solid;
    border-radius: 5px;
    transition:background-color 200ms linear ;

    &:hover,
    &:focus {
        background-color: $buttonHover;

        cursor: pointer;
    }
}