.footer{
    background-color: $backgroundFooter;
}

.footer__social-list{
    display: grid;
    grid-template-columns: repeat(4, 35px);
    grid-template-rows: repeat(1, 35px);
    align-items: center;
}

.footer__social-item{
    align-items: center;
}